@import "bootstrap.css";

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	border-top: 12px solid #444;
	font-family: 'Actor', sans-serif;
    padding: 0;
}
.brand a,
.brand a:hover {
	text-decoration: none;
}
.centered {
    text-align: center;
}
h1 {
	font-size: 60px;
	line-height: 70px;
}
h1,
h2,
h3,
h4,
blockquote {
	font-weight: 200;
	font-family: 'Crimson Text', serif;
}
.repo .buttons {
    padding-right: 20px;
}
.repo {
    border-bottom:1px solid #f1f1f1;
    padding-top: 3em;
    padding-bottom: 3em;
    color: black;
}
.repo p {
    line-height: 1.6em;
    opacity: 0.7;
}
.repo h4,
.repo:hover h4 {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.repo p,
.repo:hover p {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.repo:hover p {
    opacity: 1;
    padding-top: 10px;
}
.repo .btn[href="#"] {
    pointer-events: none;
    opacity: 0.4;
}
.repo .stats {
    margin: -20px 0 0 0;
    padding: 0;
}
.repo .stats span {
    opacity: 0.6;
    font-size: 80%;
}
.repo .stats li {
    text-transform: uppercase;
    list-style-type: none;
    line-height: 2em;
}
.repo h4 {
    font-size: 30px;
}
.repo:hover h4 {
    padding-left: 10px;
}
.repo .stats,
.repo .excl {
    display: none;
}
.repo:hover .stats,
.repo:hover .excl {
    display: inline-block;
}
.repo:hover {
    background-color: #444;
    color: white;
}
.container-fluid {
    padding: 2em;
}
nav ul, nav li {
    display: inline-block;
}
nav {
    padding: 2em 0;
}
nav a {
    padding: 0 1em;
}
a {
    color: black;
}

@media (max-width: 400px) {
    nav {
        padding: 1em 0;
    }
    h1 {
        font-size: 22px;
    }
    h1 small {
        font-size: 18px;
        display: block;
    }
    body {
        margin: 0;
        padding: 0;
    }
    .repo p, .repo:hover p {
        font-size: 16px;
        padding:0;
    }
    .repo h4, .repo:hover h4 {
        font-size: 24px;
        padding:0;
    }
    .repo {
        height: auto;
        text-align: center;
    }
    .repo, .repo:hover {
        font-size: 80%;
    }
    .repo .stats,
    .repo:hover .stats {
        display: none;
    }
	.brand {
		text-align: center;
	}
	.brand img {
		margin: 1em auto;
		max-width: 100%;
		min-width: 20%;
		display: block;
	}
}
